<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <!-- Enable Auto wire -->
   <context:annotation-config />
   
   <!-- Specify base package -->
   <context:component-scan base-package="com.jerotoma" />
  
   <!-- Enable MVC Annotation-driven -->
  <mvc:annotation-driven/>     
 
   <!-- Define resources directory location -->
   <mvc:resources mapping="/resources/**" location="/resources/" />
  
  
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/shopping_cart"/>
        <property name="username" value="jerotoma"/>
        <property name="password" value="N16YgcOy1qMxEsO6"/>        
   </bean>
  <!-- Session Factory Declaration -->
   <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.jerotoma"/>
        <property name="hibernateProperties">
             <props>
                 <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	             <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
	             <prop key="hibernate.default_schema">shopping_cart</prop>
	             <prop key="format_sql">true</prop>
	             <prop key="use_sql_comments">true</prop>
	             <prop key="hibernate.id.new_generator_mappings">false</prop>
	              <!-- <prop key="hbm2ddl.auto">create</prop> -->
             </props>
        </property>          
   </bean>
   <tx:annotation-driven transaction-manager="transactionManager"/>
  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
         <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
 
  
</beans>